<div>
<form action="/random/results">
  <label for="user_number">Minimum</label>
  <input id="user_number" type="text" name="minimum" placeholder="E.g. 1.5">
</div>
<div>
  <label for="user_maximum">Maximum</label>
  <input id="user_maximum" type="text" name="maximum" placeholder="E.g. 4.5">
</div>
<div>
<button>Pick random number</button>
</div>
</form>
