<div>
<form action="/square/results">
  <label for="user_number">Enter a number</label>
</div>
<div>
  <input id="user_number" type="text" name="number" placeholder="What number do you want?">
</div>
<button>Calculate square</button>
</form>
